scikit-learn==1.5.1
flask==3.0.3
numpy==2.1.2
pandas==2.2.3
gunicorn==20.1.0
Jinja2==3.1.2
flask_material
urllib3==2.0.3
werkzeug==3.0.2
joblib==1.4.2
rdkit==2024.09.4
matplotlib==3.10.0
IPython==8.31.0
catboost==1.2.5
Pillow==11.1.0
et-xmlfile==1.1.0
fair-esm==2.0.0
filelock==3.16.1
fsspec==2024.9.0
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
tzdata==2024.2
torch==2.4.1
openpyxl==3.1.5
pytz==2024.2
scipy==1.14.1
six==1.16.0
sympy==1.13.3
threadpoolctl==3.5.0
jax==0.3.25
libclang==13.0.0
wrapt==1.14.1
antiberty
python-dateutil==2.9.0.post0
setuptools==75.1.0
typing_extensions==4.12.2
subprocess.run