scikit-learn == 1.2.2
numpy ==1.25.0
pandas == 2.0.3
flask 
gunicorn==20.1.0
Jinja2==3.1.2
flask_material
urllib3 == 2.0.3
werkzeug == 3.0.2
joblib
rdkit  == 2023.09.6
matplotlib
IPython
catboost ==1.2.5
Pillow
setuptool>=65.0
gunicorn ==20.1.0
catboost==1.2.5
