<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LAI'S LAB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/DeepViscosity.css') }}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <header>
        <a href="https://sites.google.com/stevens.edu/pklab/home?authuser=0" target="_blank">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="LAI'S LAB" id="logo">
        </a>
        <div class="menu">
            <div class="menu-item">
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">Web Apps▼</a>
                <div class="dropdown">
                    <a href="{{ url_for('deep_sp') }}">DeepSP</a>
                    <a href="{{ url_for('deep_viscosity')}}">DeepViscosity</a>
                    <a href="{{ url_for('ab_dev') }}">AbDev</a>
                </div>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">Github▼</a>
                <div class="dropdown">
                    <a href="https://github.com/Lailabcode/DeepSP" target="_blank">DeepSP</a>
                    <a href="https://github.com/Lailabcode/AbDev" target="_blank">DeepViscosity</a>
                    <a href="https://github.com/Lailabcode/AbDev" target="_blank">AbDev</a>
                </div>
            </div>
            <div class="menu-item">
                <a href="{{ url_for('about') }}">About</a>
            </div>
        </div>
    </header>
    <script>
        const menuLinks = document.querySelectorAll('.menu-link');

        menuLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); 

                const menuItem = this.parentElement;
                const isActive = menuItem.classList.contains('active');          
                document.querySelectorAll('.menu-item').forEach(item => {
                    item.classList.remove('active');
                });

                if (!isActive) {
                    menuItem.classList.add('active');
                }
            });
        });
        document.addEventListener('click', function(event) {
            const isClickInsideMenu = event.target.closest('.menu');
            if (!isClickInsideMenu) {
                document.querySelectorAll('.menu-item').forEach(item => {
                    item.classList.remove('active');
                });
            }
        });
    </script>
    <main>
        <section id="deepSP">
            <div class = "text-container">DeepViscosity </div>
        </section>
            <div id="about">
                <h1>> About DeepViscosity</h1>
            </div> 
            <div id="intro">
                <h3>DeepViscosity is an ensemble deep learning ANN model developed to predict high-concentration monoclonal antibody viscosity classes (Low <= 20 cP, High > 20 cP). The model utilized 30 spatial properties (descriptors) obtained from DeepSP surrogate model as features for training. It was trained based on 229 mAbs.</h3>
                <style>
                    #intro p {
                        text-align: justify;
                    }
                </style>
                <h3>How to Use DeepViscosity:</h3>
                <ol>
                    <li>Enter the name of your antibody in the first text box.</li>
                    <li>Enter the heavy chain variable region sequence in the second text box. </li>
                    <li>Enter the light chain variable region sequence in the third text box. </li>
                    <li>Click the "Submit" button to get the prediction. </li>
                    <li>DeepViscosity Classes (as well as the DeepSP spatial properties) for sequences inputed, would be polulated and saved to a csv file.</li>
                </ol>
                <h3>Note: To process large datasets at once, please refer to our <a href="https://github.com/Lailabcode/DeepViscosity" target="_blank">GitHub</a>.</h3>
            </div> 
            <div id="sequence-submission">
                <h1>> Sequence Submission</h1>
                <form method="post" action='/DeepViscosity' enctype="multipart/form-data">
                
                <label for="Name">Name your mAb name</label><br>        
                <textarea id="Name" name="mab_name" placeholder="Your mAb's name"></textarea><br>
                <label for="heavy-chain">Heavy chain's variable region sequence</label><br>
                <textarea id="heavy-chain" name="heavy_chain" placeholder="QVQLQQ..."></textarea><br>
                <label for="light-chain">Light chain's variable region sequence</label><br>
                <textarea id="light-chain" name="light_chain" placeholder="DIQMTQ..."></textarea><br>
                <button onclick="copyExample()" type="button" class="try-button">Load an example</button><br>

                <script>
                function copyExample() {
                    var nameExample = "abituzumab";
                    var heavyChainExample = "QVQLQQSGGELAKPGASVKVSCKASGYTFSSFWMHWVRQAPGQGLEWIGYINPRSGYTEYNEIFRDKATMTTDTSTSTAYMELSSLRSEDTAVYYCASFLGRGAMDYWGQGTTVTVSS";
                    var lightChainExample = "DIQMTQSPSSLSASVGDRVTITCRASQDISNYLAWYQQKPGKAPKLLIYYTSKIHSGVPSRFSGSGSGTDYTFTISSLQPEDIATYYCQQGNTFPYTFGQGTKVEIK";
                    
                    document.getElementById("Name").value = nameExample;
                    document.getElementById("heavy-chain").value = heavyChainExample;
                    document.getElementById("light-chain").value = lightChainExample;
                }
                </script>

                <button type="submit" class="submit-button">Submit</button>
                </form>

            </div>

            <div id="result">
                <h1>>Results</h1>
                <!-- DeepSP Descriptors Table -->
                {% if descriptors_path %}
                    <h2>DeepSP Descriptors</h2>
                    <div style="overflow-x: auto; max-height: 400px;">
                        <table style="border: 1px solid black; border-collapse: collapse;">
                            {% for row in descriptors_data %}
                                <tr>
                                    {% for item in row %}
                                        <td style="border: 1px solid black; padding: 8px;">{{ item }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <p>Download the DeepSP Descriptors file here: <a href="{{ url_for('download_file', filename=descriptors_path) }}">{{ descriptors_path }}</a></p>
                {% endif %}
                <!-- Prediction Results Table -->
                    
                {% if predictions_path %}
                <h2>Prediction Results</h2>
                <div style="overflow-x: auto; max-height: 400px;">
                    <table style="border: 1px solid black; border-collapse: collapse;">
                        {% for row in predictions_data %}
                            <tr>
                                {% for item in row %}
                                    <td style="border: 1px solid black; padding: 8px;">{{ item }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <p>Download the Prediction Results file here: <a href="{{ url_for('download_file', filename=predictions_path) }}">{{ predictions_path }}</a></p>
                <p>DeepViscosity Prediction [ Low viscosity (<= 20 cP): 0, High viscosity (> 20 cP): 1]</p>  
            {% endif %}
            </div>
        </section>    
    </main>
    <footer>
        <p> &copy; 2024 Pin-Kuang Lai's Group </p>
        <p> plai3@stevens.edu </p>
    </footer>
</body>
</html>


