<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LAI'S LAB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <header>
        <a href="https://sites.google.com/stevens.edu/pklab/home?authuser=0" target="_blank">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="LAI'S LAB" id="logo">
        </a>
        <div class="menu">
            <div class="menu-item">
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">Web Apps▼</a>
                <div class="dropdown">
                    <a href="{{ url_for('deep_sp') }}">DeepSP</a>
                    <a href="{{ url_for('deep_viscosity')}}">DeepViscosity</a>
                    <a href="{{ url_for('ab_dev') }}">AbDev</a>
                </div>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">Github▼</a>
                <div class="dropdown">
                    <a href="https://github.com/Lailabcode/DeepSP" target="_blank">DeepSP</a>
                    <a href="https://github.com/Lailabcode/AbDev" target="_blank">DeepViscosity</a>
                    <a href="https://github.com/Lailabcode/AbDev" target="_blank">AbDev</a>
                </div>
            </div>
            <div class="menu-item">
                <a href="{{ url_for('about') }}">About</a>
            </div>
        </div>
    </header>
    <script>
        const menuLinks = document.querySelectorAll('.menu-link');

        menuLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault(); 

                const menuItem = this.parentElement;
                const isActive = menuItem.classList.contains('active');          
                document.querySelectorAll('.menu-item').forEach(item => {
                    item.classList.remove('active');
                });

                if (!isActive) {
                    menuItem.classList.add('active');
                }
            });
        });
        document.addEventListener('click', function(event) {
            const isClickInsideMenu = event.target.closest('.menu');
            if (!isClickInsideMenu) {
                document.querySelectorAll('.menu-item').forEach(item => {
                    item.classList.remove('active');
                });
            }
        });
    </script>
    <main>
        <section id="deepSP">
            <div class="text-container">
                <span class="title">XXXXXX</span>
                <br>
                <span class="subtitle">Antibody Development Helper</span>
            </div>
        </section>
    </main>
    <footer>
        <p> &copy; 2024 Pin-Kuang Lai's Group </p>
        <p> plai3@stevens.edu </p>
    </footer>
</body>
</html>